server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/fooddelivery2?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
# VNPay configuration (fill with your credentials)
vnpay:
  vnp-tmn-code: "5C9DFPOH"
  vnp-hash-secret: "FEYZ5TCZKQQ700BB8ZXFAIGRACW09UH7"
  vnp-url: "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
  vnp-return-url: "http://localhost:8080/api/payments/vnpay/return"
